.required {
    content: "*";
    color: red;
    font-size: 17px;
}
.form-control:valid {
  border-left: 5px solid #42A948; /* green */
  }
  
  
  .form-control:invalid {
    border-left: 5px solid #a94442; /* red */
  }
input{
width:15%;

}

.form-control {
  height: 42px;
  border: 1px solid #e6e6e6;
  background: none;
  width: 100%;
  padding: 0 18px
}


.homebutton {
  float: right;
  width: 50px;
  transition-duration: 0.4s;
  }
  
  .homebutton:hover {
  background-color: #08b1cf; /* Green */
  color: white;
  }
  
  #wrap {
  margin: 0 auto;
  }



  .card-header{
    background-color: #fff;
   }