<div>
<div class="card" style="width:35rem;" id="wrap">
  <div class="card-body">
      <form class="form-group" #lgForm="ngForm" (ngSubmit)="adminLogin(lgForm.value)">
        <h3 class="card-title">Admin Login</h3>
        <div><input type="text" [(ngModel)]=uname #username="ngModel" name="username" ngModel class="form-control" placeholder="Username" required /></div><br>
        <div><input type="password" [(ngModel)]=pwd #password="ngModel" name="password" ngModel class="form-control" placeholder="Password" required  /></div><br>
        <div id="context"><button class="btn btn-primary btn-block/">Login</button></div>
      </form>   
  </div>
</div>
</div>