<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="hero-image">
  <img src="assets/logo.jpeg" width="200" height="170" style="display:inline"><br><br><br><br><br><br>

  
  <div style="text-align: center;">
    <button class="btn btn-primary btn-block/" routerLink="/">Home </button><br><br>
    <div class="card" style="width:35rem;" id="wrap">
      <div class="card-body">
        <h2>Features of LTI home Loan</h2>

        <ul>
          <li>Home Loan products to suit every customers need</li>
          <li>Low Interest Rates</li>
          <li>Low Processing Fee</li>
          <li>
            No Hidden Charges</li>
          <li>No Pre Payment Penalty</li>
          <li>Interest charges on Daily Reducing Balance</li>
          <li>Repayment up to 30 years</li>
          <li>Home Loan Available as Overdraft</li>
          <li>Interest Concession for Women Borrowers</li>
          <li>Low Processing Fee</li>
        </ul>
      </div>
    </div>
  </div>
