<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<img src="assets/logo.jpeg" width="200" height="170" style="display:inline">

<div style="text-align: center;">
    
<div>
  <div id="context"><button class="btn btn-primary btn-block/" routerLink="/">Home</button></div>
    <h1>LTI HomeLoans</h1>
    <br/>
    <br/>
    <div class="card" style="width:80rem;" id="wrap">
      <div class="card-body align-items-center d-flex justify-content-center">
      <div class="card-body">
    <div class="list">
  
    <h3>Our Values</h3>
  
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Trust</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Transparency</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Integrity</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Excellence</li><br/>
    </ul>
  
  <h3>Value to Customers</h3>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>Wide Product Range</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Interest Calculation on Daily Reducing Balance</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Overdraft Facility available</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Low Interest Rates</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>Low Processing Fees</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>No Hidden Costs</li><br/>
      <li><i class="fa-li fa fa-check-square"></i>No Pre-payment penalty</li><br/>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>