<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="hero-image">
  <img src="assets/logo.jpeg" width="200" height="170" style="display:inline">
  <div style="text-align: center;">
    <h1 align="center"> LTI Home Loan Application </h1>
    <button type='button' class="btn btn-primary btn-block/" routerLink="/application/propertyDetails">Registration
      Form</button>&nbsp;&nbsp;&nbsp;
    <button type='button' class="btn btn-primary btn-block/" routerLink="/">Home</button><br><br><br>

  </div>
  <router-outlet></router-outlet>
