.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  #wrap {
    margin: 0 auto;
  }
  #content {
    text-align: center;
}
  
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

.hero-image {
  background-image: url('../../assets/background2.jpeg'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 830px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

table {
  width:100%;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 13px;
  text-align: left;
  background-color: white;
}
#t01 tr:nth-child(even) {
  background-color: #eee;
}
#t01 tr:nth-child(odd) {
 background-color: #fff;
}
#t01 th {
  background-color: black;
  color: white;
}