<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
  <div class="form-group row">
    <div class="card-header mx-auto">
      <form #userForm1="ngForm" *ngIf="!submitted" (ngSubmit)="onSubmit()" novalidate>
        <h2>Property Details Form&#9989;</h2>
        <h2>Employment Details Form</h2>

        <div class="form-group">
          <label>Employment Type<span class="required">*</span></label><br>
          <div *ngIf="employmentType.errors?.required" class="text-danger">Employment Type is Required</div>

          <input style="align-items: left;" type="radio" name="employmentType" [(ngModel)]="userModel.employmentType"
            value="Self-Employed" required #employmentType="ngModel"><label>Self-Employed</label><br>

          <input type="radio" name="employmentType" [(ngModel)]="userModel.employmentType" value="Salaried" required
            #employmentType="ngModel"><label>Salaried</label>
        </div>
        <div class="form-group">
          <label>Retirement Age(Years)<span class="required">*</span></label><br>
          <input type="number" #retirementAge="ngModel" required class="form-control"
            [class.is-invalid]="retirementAge.invalid && retirementAge.touched" name="retirementAge"
            [(ngModel)]="userModel.retirementAge" min="18" max="70"><br>
          <small class="text-danger" [class.d-none]="organizationType.touched">Enter a valid Retirement Age between 18
            to 75</small><br>
        </div>
        <div class="form-group">
          <label>Organisation Type<span class="required">*</span></label><br>
          <small class="text-danger" [class.d-none]="!organisationtypeHasError || organizationType.touched">Please
            choose a topic</small><br>
          <select class="custom-select" (blur)="validateTopic(organizationType.value)"
            (change)="validateTopic(organizationType.value)" #organizationType="ngModel"
            [class.is-invalid]="organisationtypeHasError && organizationType.touched" name="organizationType"
            [(ngModel)]="userModel.organizationType">
            <option value="default">Organisation Type</option>
            <option *ngFor="let topic of list">{{ topic }}</option>
          </select>
        </div>

        <button class="btn btn-primary" [disabled]="userForm1.form.invalid || organisationtypeHasError"
          type="submit">Submit</button>

      </form>
      <div class="alert alert-danger" *ngIf="errorMsg">
        {{errorMsg}}
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
